<MarketplaceDetails>
  <SmallAppTile>AppIcon_2-16-2014 5-22-47 PM.png</SmallAppTile>
  <ScreenShots>WVGA_ss1.png;WVGA_ss2.png;WVGA_ss3.png;WVGA_ss4.png;WVGA_ss5.png;;;;</ScreenShots>
  <ScreenShotsWXGA>WXGA_ss1.png;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720P_ss1.png;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>